{% extends "tourist_attractions/base.html" %}

<!-- {# Load css #} -->
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'tourist_attractions/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>This is a list of tourist attractions for {{statename|title}}</h1>

    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Attraction</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            <!--{# Display all attractions inside selected state #}-->
            {% for attraction in attractions|dictsort:"state" %}
                {% if attraction.state|lower == statename %}
                <tr>
                    <td>{{ attraction.attraction_name }}</td>
                    <td>{{ attraction.state }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock%}